* {
  margin: 0;
  padding: 0;
}
body {
}
h1 {
  color: rgba(11, 130, 104, 0.592);
}
.post-img {
  width: 100%;
}
.related {
  list-style: none;
}
ol,
ul {
  padding-left: 50px;
}
li {
  margin-bottom: 20px;
}
li:last-child {
  margin-bottom: 0;
}
nav{
  text-align: center;
}
aside {
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

.test p:last-child {
  color: orange;
}
.header-page {
  height: 100%;
}
.main-header {
  margin: 20px 20px;
  background-color: #ccc;
}
.main-header::first-letter {
  font-style: italic;
}
h2{
  background-color: green;
  position: relative;
}
h2::before{
  content: "TOP";
  padding: 0 2px;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: pink;
}

.list-HTML {
  margin: 40px 0;
}
.container {
  width: 700px;
  margin: 20px auto;
  border: 5px solid orange;
  position: relative;
}
footer {
}

/* CSS: Box */
nav a:link {
  background-color: pink;
  display: inline;
  margin: 10px 10px;
  height: 100px;
}
nav a:link:last-child {
  margin-right: 0;
}

header h2 {
}

.btn-like {
  padding: 10px;
  border: 2px solid green;
  position: absolute;
  bottom: 0;
  right: 0;
}
