/* General components */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  position: absolute;
  min-width: 100%;
}
section {
  display: block;
}
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid {
  display: grid;
  gap: 9.6rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.center {
  text-align: center;
}

.btn:link,
.btn:visited {
  border: none;
  background-color: #e67e22;
  display: inline-block;
  border-radius: 9px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  cursor: pointer;
  /* put transition in original button */
  transition: all 1s;
}

.heading-primary,
.heading-secd {
  color: #45260a;
  letter-spacing: -0.5px;
  font-weight: 700;
}

.heading-primary {
  font-size: 5.2rem;
  margin-bottom: 3.2rem;
  line-height: 1.05;
}
.title {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #cf711f;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin-bottom: 1.6rem;
}
.heading-secd {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  margin-bottom: 3.2rem;
  color: #333;
}

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  color: #e67e22;
  border-bottom: 1px solid currentColor;
  transition: all 1s;
  padding-bottom: 3px;
}
.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}
strong {
  font-weight: 500;
}
