* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
}
article {
  margin: 50px auto;
  border: 4px solid black;
  width: 832px;
  position: relative;
}
.heading-product,
.product-details,
.btn-add,
.sale {
  text-transform: uppercase;
}
.heading-product {
  text-align: center;
  background-color: #f7f7f7;
  padding: 8px;
}
.product-img {
  width: 248px;
  height: 250px;
}
.product-price {
  font-weight: bold;
  /* margin: 4px 0; */
  /* float: left; */
}
.product-info {
  /* clear: both; */
  margin-bottom: 10px;
}
.product-shipping {
  font-size: 12px;
  /* margin: 10px 0; */
  /* float: right; */
  /* margin-top: 8px; */
}
.more-info {
  text-decoration: underline;
  color: black;
}
.more-info:link,
.more-info:visited {
  color: black;
}
.more-info:hover,
.more-info:active {
  text-decoration: none;
}
.product-details {
  list-style-type: square;
  font-size: 17px;
}
.list-description li {
  margin: 15px 30px;
}
.btn-add {
  cursor: pointer;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 12px;
}
.btn-add:hover,
.btn-add:active {
  background-color: white;
  color: black;
  border: 4px solid black;
}

.sale {
  position: absolute;
  top: -15px;
  left: -20px;
  padding: 3px 6px;
  font-weight: bold;
  background-color: #ec2f2f;
  color: #fff;
  letter-spacing: 2px;
}
.color-list div:nth-child(1) {
  background-color: black;
}
.color-list div:nth-child(2) {
  background-color: blue;
}
.color-list div:nth-child(3) {
  background-color: red;
}
.color-list div:nth-child(4) {
  background-color: yellow;
}
.color-list div:nth-child(5) {
  background-color: green;
}
.color-list div:nth-child(6) {
  background-color: brown;
}
.color-list {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  gap: 10px;
}
.color-list div {
  width: 15px;
  height: 15px;
  /* margin-right: 10px; */
}
/* .color-list div:last-child {
  margin-right: 0px;
} */

/* using floats and box-sizing */

/* .box-left {
  float: left;
  height: 248px;
  margin-right: 40px;
}
.box-center {
  margin-top: 10px;
  width: 248px;
  margin-right: 40px;
  float: left;
}
.box-right {
  margin-top: 10px;
  width: 248px;
  float: left;
}

.container::after{
  content: "";
  clear: both;
  display: block;
} */

/* Flex box */
/* .container {
  display: flex;
  gap: 40px;
  align-items: center;
}*/
.product-shipping-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
/*.box-left,
.box-right,
.box-center {
  flex: 1;
} */

/* Grid */
article {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 40px;
}
.heading-product {
  grid-column: 1 / -1;
}
.btn-add {
  grid-column: 1 / -1;
}
.box-center,
.box-right {
  margin-top: 20px;
}
.product-shipping {
  align-self: flex-end;
}
